lxml==4.9.2
pandas==1.5.3
Pillow==9.5.0
Pillow==9.5.0
Requests==2.30.0
streamlit==1.21.0
streamlit_lottie==0.0.3
streamlit_option_menu==0.3.2
matplotlib==3.7.1
seaborn==0.12.2
langchain
llama-index==0.7.20
openai
streamlit==1.24.1
fpdf
pypdf
